foo_subsonic.sdf
foo_subsonic.opensdf
.vs/*
Debug/*
Debugtinyxml/*
ipch/*
x64/*
Release/
Releasetinyxml/
Debug/
Debugtinyxml/
sqlite3/Release/
sqlite3/Debug/
sqlite3/*.c
sqlite3/*.cpp
sqlite3/*.h
sqlite3/SQLiteCpp/*.h
build/
.idea/
cmake-*
/foobar2000
/libPPUI
/pfc
sdk-license.txt
sdk-readme.html
sdk-readme.css
